{% extends 'base.html.twig' %}

{% block title %}Jordan's Eshop{% endblock %}

{% block body %}
    {# {% for products in product %}
        <h1 class="text-danger">{{products.nom}}</h1>
        <h2 class="text-success">{{products.type.name}}</h2>
    {% endfor %} #}

    {% for products in product %}
        {% if products.type.name == 'Chaussures' %}
        <h1 class="text-danger">{{products.nom}}</h1>
        <h2 class="text-success">{{products.type.name}}</h2>
        {% endif %}
        {# <h1 class="text-danger">{{products.nom}}</h1>
        <h2 class="text-success">{{products.type.name}}</h2> #}
        
    {% endfor %}
{% endblock %}