<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_acceuil')}}">Jordan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_acceuil')}}">Acceuil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filtre
                </a>
            <ul class="dropdown-menu">         
                <li><a class="dropdown-item text-info" href="{{ path('app_acceuil', {type:'vetement'})}}">Vetements</a></li>
                <li><a class="dropdown-item text-success" href="{{ path('app_acceuil', {type:'basket'})}}">Baskets</a></li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Compte
                </a>
            <ul class="dropdown-menu">         
                <li><a class="dropdown-item text-info" href="{{ path('app_register')}}">Inscription</a></li>
                <li><a class="dropdown-item text-success" href="{{ path('app_login')}}">Connexion</a></li>
            {% if app.user %}
                <li class="nav-item">
                <a class="dropdown-item text-info" href="{{path('admin')}}">AdminPanel</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" href="{{ path('app_logout')}}">Déconnexion</a></li>
            {% endif %}
        </ul>
    </div>
    </div>
</div>
</nav>